<!doctype html>

<html>
<head>
    <title>HCI Project Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <script src="/js/facebook.js"></script>
    <![endif]-->
</head>

<body>
<div class="container coursePage">

    <a id="backbutton" onclick="goBack()">back</a>

    <div style="float: right;" class="user_info">
        <a href="#"><p id="user_name">{{name}}</p></a>
    </div>

    <div class="tight_text">
        <h1 id="course_title1">Notescast</h1>
    </div>
    <div class="tight_text">
        <p id="course_title2">Podcast with smart notes</p>
    </div>
    <div id="search">
        <input id="searchBar" type="text" placeholder="Search for your class..">
        <a href="JavaScript:void(0);"><i class="fa fa-fw fa-search"></i> </a>
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, true)" id="courseB">Course</button>
        <button class="tablinks" onclick="openTab(event, false)" id="recentB">Recently Viewed</button>
    </div>

    <div class="courses tabcontent" id="coursesTab">
        {{#each courses}}
            <div class="class" id="{{id}}">
                <a href="course/{{name}}/{{quarter}}/{{prof}}" class="thumbnail">
                    <p>{{name}}</p>
                </a>
            </div>
        {{/each}}
    </div>

    <div class="recently_viewed tabcontent" id="recentlyTab">
        {{#each videos}}
            <div class="video" id="{{id}}">
                <a href="course/COGS 170-Interactive Design-LE[A00]/WI2020/Week 2/lecture 4 01-09-2020/Klemmer, Scott R" class="videoDescription">
                    <img class="videoPreview" src="/../images/{{image}}">
                    <p>{{name}}<br>{{description}}</p>
                </a>
            </div>
        {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
